<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="from" value="Mexico City"></parameter>
		<parameter name="to" value="London"></parameter>

		<classes>
			<class name="org.blaze.BlazeDemoExecution" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
